.petcards {
  background-color: rgba(161, 143, 143, 0.8);
  min-height: 20vh;
  border-radius: 20px;
  margin: 10px;
}
.petcards h3 {
  color: white;
  margin-bottom: 20px;
}

.petcardscontainer {
  margin: 10px;
  gap: 20px;
  align-items: center;
  line-height: 1.1em;
  padding: 30px;
}

.petcards img {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  
}

.petcardscontainer p {
  color: white;
  text-align: left;
  margin-bottom: 10px;
}


@media screen and (min-width: 600px) {

  .pets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .petcards {
    background-color: rgba(161, 143, 143, 0.8);
    min-height: 40vh;
    min-width: 38vw;
    border-radius: 20px;
    margin: 10px;
    
  }

}

@media screen and (min-width: 900px) {

  .pets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .petcards {
    background-color: rgba(161, 143, 143, 0.8);
    min-height: 40vh;
    min-width: 28vw;
    border-radius: 20px;
    margin: 10px;
    
  }


}