.homegif{
    background-image: url('https://media.giphy.com/media/cPT8gi73MRw8M3Suqf/giphy.gif');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 30vh;
    padding:0;
    margin:0;
}

.homebody{
    text-align: center;
    margin: 10px;
}

.homebody h1{
    color: rgba(87, 76, 76, 1);
    margin: 10px;
    margin-top: 20px;
}
.quote{
    margin: 10px;
    color: rgba(87, 76, 76, 0.9);
}

.homearticle{
    background-color: rgba(161, 143, 143, 0.8);
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}


.homearticle h4{
    margin: 5px 0px;
    color: rgba(87, 76, 76, 1);
    text-align: left;
}

.homearticle p{
    color: rgba(87, 76, 76, 0.9);
    font-size: 0.9em;
    text-align: left;
}

.boxoutline{
    background-color:rgba(161, 143, 143, 0.2) ;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}

@media screen and (min-width: 600px) {
    .homegif{
        height: 50vh;
    }

}

@media screen and (min-width: 900px) {
    .homegif{
        height: 55vh;
    }

}