.nav-style{
    background-color: rgb(177, 166, 166);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    height: 10vh;
}

.loginsignup{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.loginsignup li{
    background-color: rgba(87, 76, 76, 0.5);
    padding:5px 10px;
    border-radius: 5px;
}

.navbutton{
    background-color: rgba(87, 76, 76, 0.5);
    padding:5px 10px;
    border-radius: 5px;
    border:none;
    color: white;
    font-size: 1em;
}
.loggedinnav{
    display: flex;
    gap: 10px;
}